<nav class="nav-bar">
    <div>
        <a class="nav-logo" routerLink="/">Resource Tracker</a>
    </div>

    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active-link" class="nav-link">Dashboard</a>
        <a routerLink="/admin" routerLinkActive="active-link" class="nav-link">Admin</a>
        <!-- <a routerLink="/add-new-resource" routerLinkActive="active-link" class="nav-link ">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
            Add New Resource
        </a> -->
    </div>
</nav>