<nav class="nav-bar">
    <div>
        <a class="nav-logo" [routerLink]="['/', routePaths.appBase]">Resource Tracker</a>
    </div>

    <div class="nav-links">
        <a [routerLink]="['/', routePaths.appBase]" routerLinkActive="active-link" class="nav-link">Dashboard</a>
        <!-- Logout button -->
        <a [routerLink]="['/', routePaths.appBase, routePaths.admin, routePaths.adminUsers]" class="nav-link"
            *appHasRole="['Admin']">
            Manage Users
        </a>

        <!-- Profile Menu -->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-button">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item [routerLink]="['/', routePaths.myAccount]" target="_blank" rel="noopener noreferrer">
                <mat-icon>person</mat-icon>
                <span>My Account</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</nav>