.nav-bar {
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.nav-logo {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    color: var(--primary-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    transition: color;
    transition-duration: 0.2s;
}

.nav-link mat-icon {
    font-size: 20px;
    line-height: 1;
}


/* Logout Button */
.logout-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0;
}

.logout-button:hover {
    text-decoration: underline;
}

.profile-button {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}