<div class="not-found-container k-flex k-flex-column k-align-center k-justify-center">
    <div class="not-found-banner">
        <img src="assets/Page_Not_Found.gif" alt="404 Not Found" class="not-found-image" />

        <h1 class="k-h1 k-mt-4">404 - Page Not Found</h1>
    </div>
    <p class="k-mb-4 k-text-secondary">
        Oops! The page you are looking for doesn't exist.
    </p>

    <button kendoButton [routerLink]="['/', routePaths.login]" themeColor="primary" size="large">
        Go to Login
    </button>
</div>