.not-found-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 2rem;
    max-width: 840px;
    margin-inline: auto;
}

.not-found-banner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
}

.not-found-banner h1 {
    width: 100%;
}

.not-found-image {
    max-width: 300px;
    width: 100%;
    background: transparent;
}

.not-found-container button {
    margin-block: 1rem;
}