:host {
  display: block;
  margin-top: 2rem;
}

.welcome-section {
  text-align: center;
  margin-block: 4rem;
}

.welcome-section h1 {
  font-size: 24px;
  color: var(--primary-color);
  margin-block-end: 10px;
}

.welcome-section p {
  font-size: 14px;
}

.resource-grid-container {
  background-color: var(--white-color);
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.resource-grid-container kendo-grid {
  font-size: 12px;
}

.resource-table-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-block: 10px;
}

.resource-table-btns-group {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 10px;
}

.delete-selected-btn:disabled {
  cursor: not-allowed;
  background-color: var(--light-gray-color);
  border: none;
  pointer-events: none;
}

.detail-selected-btn:disabled {
  cursor: not-allowed;
  background-color: var(--light-gray-color);
  border: none;
  pointer-events: none;
}

.edit-selected-btn:disabled {
  cursor: not-allowed;
  background-color: var(--light-gray-color);
  border: none;
  pointer-events: none;
}

.delete-selected-btn {
  background-color: var(--danger-color);
  /* Normal state - red */
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.detail-selected-btn {
  background-color: var(--secondary-color);
  /* Normal state - red */
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-selected-btn {
  background-color: var(--primary-color);
  /* Normal state - red */
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delete-selected-btn:hover:not(:disabled) {
  background-color: var(--dark-danger-color);
  /* Darker red on hover */
}

.detail-selected-btn:hover:not(:disabled) {
  background-color: var(--dark-secondary-color);
}

.resource-list {
  width: 100%;
}

.resource-list ::ng-deep .k-grid-header th {
  background-color: var(--primary-color);
  color: white;
}

.resource-list ::ng-deep .k-grid-header-menu {
  color: white;
}

.resource-grid-action-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
}

.resource-grid-action-btn.delete-action-btn {
  color: var(--danger-color);
}

.export-btn {
  margin-inline-end: 2rem;
}

.export-btn.k-button {
  display: inline-flex;
  outline: none;
  border: none;
}

.confirmation-dialog-header {
  background-color: var(--primary-color);
  color: white;
}

.dialog-action-btn {
  padding: 8px 6px;
  border-radius: 6px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}

.detail-action-btn {
  color: var(--secondary-color);
}

.cancel-btn {
  background-color: black;
  color: white;
  border-color: black;
}

.delete-btn {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: white;
}

.remarks-textarea {
  width: 100%;
  padding: 4px;
}

/* Import Dialog */
::ng-deep .import-dialog .k-dialog {
  width: 600px;
}

.import-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.file-label {
  margin-bottom: 4px;
}

.file-preview {
  font-size: 14px;
  color: #333;
}

.loader-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.upload-success {
  display: flex;
  align-items: center;
  gap: 8px;
  color: green;
  margin-top: 16px;
  font-weight: 500;
}

.upload-btn {
  align-self: flex-start;
}

.upload-status {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.upload-status.success {
  background-color: #e6f4ea;
  color: #137333;
}

.upload-status.error {
  background-color: #fce8e6;
  color: #d93025;
}

.upload-status .material-icons {
  margin-right: 6px;
}

.skipped-scroll-container {
  max-height: 200px;
  /* adjust based on dialog size */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.skipped-section {
  margin-top: 12px;
  background-color: #fffbe6;
  padding: 10px;
  border: 1px solid #ffe58f;
  border-radius: 4px;
}

.skipped-section h4 {
  margin-bottom: 6px;
}

.skipped-section ul {
  padding-left: 16px;
}





/* Dialog Style */
.bulk-edit-dialog-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome-section h1 {
    font-size: 24px;
  }

  .welcome-section p {
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .welcome-section h1 {
    font-size: 32px;
  }

  .welcome-section p {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .welcome-section h1 {
    font-size: 36px;
  }

  .welcome-section p {
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .welcome-section {}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .welcome-section {}
}