<div class="welcome-section">
    <h1>Welcome to the Resource Tracker</h1>
    <p>Track, manage, and optimize your resources effortlessly.</p>
</div>

<section class="resource-grid-container">
    <div class="resource-table-header">
        <div class="resource-table-btns-group">
            <button class="delete-selected-btn btn" (click)="confirmBulkDelete()"
                [disabled]="selectedToDelete.length === 0" *appHasRole="['Admin', 'HR']">
                <span class="material-icons" style="font-size: 16px;">delete</span>
                {{selectedToDelete.length > 1 ? 'Delete All' : 'Delete'}}
            </button>
            <button class="detail-selected-btn btn" (click)="confirmDetail()"
                [disabled]="!resourceIdToView || (selectedToDelete.length != 1)">
                <span class="material-icons" style="font-size: 16px;">info</span>
                Detail
            </button>
            <button class="edit-selected-btn btn" [disabled]="selectedToDelete.length < 1"
                (click)="openBulkEditDialog()" *appHasRole="['Admin', 'Manager']">
                <span class="material-icons" style="font-size: 16px;">edit</span>
                Edit Selected
            </button>
        </div>
        <div class="resource-table-btns-group">
            <button class="btn import-btn" (click)="openImportDialog()" *appHasRole="['Admin', 'HR']">
                <span class="material-icons" style="font-size: 16px;">upload_file</span>
                Import
            </button>

            <kendo-dropdownbutton [data]="exportOptions" [fillMode]="'none'" ngClass="export-btn-group"
                *appHasRole="['Admin', 'HR', 'Manager']">
                <span class="material-icons" style="font-size: 16px;">file_download</span>
                Export
                <ng-template kendoDropDownButtonItemTemplate let-dataItem class="export-btn btn">
                    <div (click)="dataItem.action()">
                        <kendo-svgicon [icon]="dataItem.svgIcon" class="kendo-icon-custom-style"></kendo-svgicon>
                        <span>{{ dataItem.text }}</span>
                    </div>
                </ng-template>
            </kendo-dropdownbutton>
            <button ngClass="btn" [routerLink]="['/', routePaths.appBase , routePaths.addNewResource]"
                routerLinkActive="active-link" class="add-btn" *appHasRole="['Admin', 'HR']">
                <span class="material-icons" style="font-size: 16px;">add</span>
                Add Resource
            </button>
        </div>
    </div>

    <div class="k-grid-toolbar">
        <input kendoTextBox placeholder="Search by Name or Email..." [(ngModel)]="globalSearchTerm"
            (ngModelChange)="onSearchChange($event)" class="grid-search" />

        <div class="filter-container">
            <!-- Filters -->
            <kendo-dropdownlist [data]="filteredDesignations" [(ngModel)]="state.filters['designationName']"
                [textField]="'designationName'" [valueField]="'designationName'"
                [defaultItem]="{ designationName: 'All Designations', designationID: null }" [filterable]="true"
                (filterChange)="onDesignationFilter($event)" (valueChange)="onFilterChange('designationName', $event)"
                class="filter-dropdown" [valuePrimitive]="true">
            </kendo-dropdownlist>

            <kendo-dropdownlist [data]="filteredLocations" [(ngModel)]="state.filters['locationName']"
                [textField]="'locationName'" [valueField]="'locationName'"
                [defaultItem]="{ locationName: 'All Locations', locationID: null }" [filterable]="true"
                (filterChange)="onLocationFilter($event)" [valuePrimitive]="true"
                (valueChange)="onFilterChange('locationName', $event)" class="filter-dropdown">
            </kendo-dropdownlist>

            <kendo-dropdownlist [data]="filteredManagers" [(ngModel)]="state.filters['managerName']"
                [textField]="'managerName'" [valueField]="'managerName'"
                [defaultItem]="{ managerName: 'All Managers', managerID: null }"
                (filterChange)="onManagerFilter($event)" [valuePrimitive]="true" [filterable]="true"
                (valueChange)="onFilterChange('managerName', $event)" class="filter-dropdown">
            </kendo-dropdownlist>

            <kendo-dropdownlist [data]="yesNoOptions" [(ngModel)]="state.filters['billable']" [textField]="'text'"
                [valueField]="'value'" [defaultItem]="{ text: 'All Billable', value: null }" [filterable]="false"
                [valuePrimitive]="true" (valueChange)="onFilterChange()" class="filter-dropdown">
            </kendo-dropdownlist>

            <!-- Clear Filters -->
            <button kendoButton class="ml-2 filter-clear-btn" (click)="clearFilters()">
                Clear Filters
            </button>
        </div>

        <!-- skills-projects container -->
        <div class="skills-projects-container">
            <!-- Skills -->
            <kendo-multiselect [data]="skills" [(ngModel)]="state.filters['skills']" [textField]="'skillName'"
                [valueField]="'skillName'" [valuePrimitive]="true" [filterable]="true" [autoClose]="false"
                placeholder="Select Skills" (valueChange)="onFilterChange('skills', $event)" class="filter-dropdown">
            </kendo-multiselect>


            <!-- Projects -->
            <kendo-multiselect [data]="projects" [(ngModel)]="state.filters['projects']" [textField]="'projectName'"
                [valueField]="'projectName'" [valuePrimitive]="true" [filterable]="true" [autoClose]="false"
                placeholder="Select Projects" (valueChange)="onFilterChange('projects', $event)"
                class="filter-dropdown">
            </kendo-multiselect>
        </div>
    </div>

    <kendo-grid kendoGridSelectBy="resourceID" [data]="gridData" [height]="500" [style.width.%]="100"
        [pageSize]="state.pageSize"
        [pageable]="{ buttonCount: 5, pageSizes: [5, 8, 10, 20, 50], info: true,previousNext: true, responsive: true }"
        [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
        [skip]="(state.page - 1) * state.pageSize" [navigable]="['table', 'pager']" [height]="500"
        [columnMenu]="{ filter: true }" class="resource-list" (dataStateChange)="dataStateChange($event)"
        (pageChange)="onPageChange($event)" (sortChange)="onSortChange($event)" [(selectedKeys)]="selectedToDelete"
        [selectable]="{ mode: 'multiple', drag: true }" (rowClick)="onRowClick($event)" (cellClick)="onRowClick($event)"
        #grid>
        <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }"
            [class]="{ 'text-center': true }" [resizable]="false" [columnMenu]="false" [showSelectAll]="true">
        </kendo-grid-checkbox-column>
        <kendo-grid-column field="fullName" title="Resource Name" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="email" title="Email ID" [width]="200"></kendo-grid-column>
        <kendo-grid-column field="designationName" title="Designation" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="managerName" title="Reporting To" [width]="120" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column field="skills" title="Technology Skill" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="projects" title="Project Allocation" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="locationName" title="Location" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="doj" title="Joining Date" [width]="130" [hidden]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.doj | date: 'dd-MM-yy'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="billable" title="Billable" [width]="100" [hidden]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.billable ? 'Yes' : 'No' }}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="remarks" title="Remarks" [width]="200" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column title="Actions" [width]="170">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="action-btn">
                    <button (click)="triggerEdit(dataItem)" class="resource-grid-action-btn"
                        *appHasRole="['Admin', 'Manager']"> Edit</button>
                    <button (click)="triggerDetail(dataItem)"
                        class="resource-grid-action-btn detail-action-btn">Detail</button>
                    <button (click)="openConfirmDialog(dataItem)" class="resource-grid-action-btn delete-action-btn"
                        *appHasRole="['Admin', 'HR']">Delete</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-pdf [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true"
            [fileName]="getPdfName()"></kendo-grid-pdf>
        <label>Page Size:</label>
    </kendo-grid>

    <!-- Import Dialog -->
    <kendo-dialog *ngIf="showImportDialog" (close)="closeImportDialog()" class="import-dialog">
        <kendo-dialog-titlebar>
            Import Resources from File
        </kendo-dialog-titlebar>

        <div class="import-dialog-body">
            <label class="file-label">
                <strong>Select a .csv or .xlsx file:</strong>
            </label>
            <input type="file" accept=".csv, .xlsx" (change)="onFileSelected($event)" />

            <div *ngIf="selectedFile" class="file-preview">
                <p><strong>Selected File:</strong> {{ selectedFile.name }}</p>
            </div>

            <button [disabled]="!selectedFile || isUploading" (click)="uploadFile()" class="btn upload-btn">
                Upload
            </button>

            <div *ngIf="isUploading" class="loader-section">
                <kendo-progressbar [value]="uploadProgress" [animation]="true"></kendo-progressbar>
                <p>Uploading... Please wait</p>
            </div>

            <!-- Upload Message -->
            <div *ngIf="uploadMessage" class="upload-status"
                [ngClass]="{ 'success': uploadSuccess, 'error': !uploadSuccess }">
                <span class="material-icons">{{ uploadSuccess ? 'check_circle' : 'error' }}</span>
                {{ uploadMessage }}
            </div>

            <!-- Skipped Resources -->
            <div *ngIf="skippedResources.length > 0" class="skipped-section">
                <h4>Skipped Resources:</h4>
                <div class="skipped-scroll-container">
                    <ul>
                        <li *ngFor="let item of skippedResources">
                            {{ item.fullName }}
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="uploadSuccess" class="upload-success">
                <span class="material-icons">check_circle</span>
                Import successful!
            </div>
        </div>
    </kendo-dialog>


    <!-- Confirmation Dialog -->
    @if(showConfirmDialog){
    <kendo-dialog (close)="cancelDelete()" class="confirmation-dialog">
        <kendo-dialog-titlebar class="confirmation-dialog-header">
            Confirm Delete
        </kendo-dialog-titlebar>
        <p>Are you sure you want to delete <strong>{{ resourceToDelete?.fullName }}</strong>?</p>
        <p>This action cannot be undone.</p>
        <kendo-dialog-actions>
            <button kendoButton themeColor="error" (click)="confirmDelete()"
                class="dialog-action-btn delete-btn">Delete</button>
            <button kendoButton (click)="cancelDelete()" class="dialog-action-btn cancel-btn">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    }

    @if (showBulkConfirmationDialog) {
    <kendo-dialog (close)="cancelBulkDelete()" class="confirmation-dialog">
        <kendo-dialog-titlebar>Confirm Bulk Delete</kendo-dialog-titlebar>
        <p>You are about to delete <strong>{{ selectedToDelete.length }}</strong> resources.</p>
        <p>This action cannot be undone.</p>
        <kendo-dialog-actions>
            <button kendoButton themeColor="error" (click)="confirmBulkDeleteAction()"
                class="dialog-action-btn delete-btn">
                Delete
            </button>
            <button kendoButton (click)="cancelBulkDelete()" class="dialog-action-btn cancel-btn">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    }

    @if (showBulkEditDialog && selectedToDelete.length != 0){
    <kendo-dialog (close)="cancelBulkEdit()" class="bulk-edit-dialog">
        <kendo-dialog-titlebar>Bulk Edit Resources</kendo-dialog-titlebar>

        <form [formGroup]="bulkEditForm">
            <div class="bulk-edit-dialog-body">
                <kendo-dropdownlist [data]="designations" [(ngModel)]="bulkEditModel.designationID"
                    [textField]="'designationName'" [valuePrimitive]="true" [valueField]="'designationID'"
                    formControlName="designationID" [defaultItem]=" { designationName: 'Select Designation' }"
                    [filterable]="true" class="form-control">
                </kendo-dropdownlist>
                <kendo-dropdownlist [data]="locations" [(ngModel)]="bulkEditModel.locationID"
                    [textField]="'locationName'" [valueField]="'locationID'"
                    [defaultItem]="{ locationName: 'Select Location' }" [filterable]="true" class="form-control"
                    [valuePrimitive]="true" formControlName="locationID">
                </kendo-dropdownlist>
                <kendo-dropdownlist [data]="projects" [(ngModel)]="bulkEditModel.projectID" [textField]="'projectName'"
                    [valueField]="'projectID'" [defaultItem]="{ projectName: 'Select Project' }" [valuePrimitive]="true"
                    [filterable]="true" class="form-control" formControlName="projectID">
                </kendo-dropdownlist>
                <kendo-dropdownlist [data]="yesNoOptions" formControlName="billable"
                    [defaultItem]="{ text: 'Select billable status', value: null }" [textField]="'text'"
                    [valuePrimitive]="true" [valueField]="'value'" [valuePrimitive]="true">
                </kendo-dropdownlist>

                <textarea class="form-control mt-3 remarks-textarea" placeholder="Enter remarks"
                    formControlName="remarks" rows="3"></textarea>
            </div>
        </form>
        <kendo-dialog-actions>
            <button kendoButton (click)="submitBulkEdit()" themeColor="primary">Update</button>
            <button kendoButton (click)="cancelBulkEdit()">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    }
</section>