<div class="welcome-section">
    <h1>Welcome to the Resource Tracker</h1>
    <p>Track, manage, and optimize your resources effortlessly.</p>
</div>

<section class="resource-grid-container">
    <div class="resource-table-header">
        <div class="resource-table-btns-group">
            <button class="delete-selected-btn btn" (click)="confirmBulkDelete()"
                [disabled]="selectedToDelete.length === 0">
                <span class="material-icons" style="font-size: 16px;">delete</span>
                {{selectedToDelete.length > 1 ? 'Delete All' : 'Delete'}}

            </button>
        </div>
        <div class="resource-table-btns-group">
            <kendo-dropdownbutton [data]="exportOptions" [fillMode]="'none'" ngClass="export-btn-group">
                <span class="material-icons" style="font-size: 16px;">file_download</span>
                Export
                <ng-template kendoDropDownButtonItemTemplate let-dataItem class="export-btn btn">
                    <div (click)="dataItem.action()">
                        <kendo-svgicon [icon]="dataItem.svgIcon" class="kendo-icon-custom-style"></kendo-svgicon>
                        <span>{{ dataItem.text }}</span>
                    </div>
                </ng-template>
            </kendo-dropdownbutton>
            <button ngClass="btn" routerLink="/add-new-resource" routerLinkActive="active-link" class="add-btn">
                <span class="material-icons" style="font-size: 16px;">add</span>
                Add Resource
            </button>
        </div>
    </div>

    <kendo-grid kendoGridSelectBy="empId" [kendoGridBinding]="resources" [height]="500" [style.width.%]="100"
        [pageSize]="10" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
        [navigable]="['table', 'pager']" [height]="500" [columnMenu]="{ filter: true }" class="resource-list"
        [(selectedKeys)]="selectedToDelete" [selectable]="{ mode: 'multiple', drag: true }" #grid>
        <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }"
            [class]="{ 'text-center': true }" [resizable]="false" [columnMenu]="false" [showSelectAll]="true">
        </kendo-grid-checkbox-column>
        <kendo-grid-column field="name" title="Resource Name" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="email" title="Email ID" [width]="200"></kendo-grid-column>
        <kendo-grid-column field="designation" title="Designation" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="reportingTo" title="Reporting To" [width]="120" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column field="skills" title="Technology Skill" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="projectAllocation" title="Project Allocation" [width]="150"></kendo-grid-column>
        <kendo-grid-column field="location" title="Location" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="dateOfJoining" title="Joining Date" [width]="130" [hidden]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.dateOfJoining | date: 'dd-MM-yy'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="isBillable" title="Billable" [width]="100" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column field="remarks" title="Remarks" [width]="200" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column title="Actions" [width]="170">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="action-btn">
                    <button (click)="triggerEdit(dataItem)" class="resource-grid-action-btn">Edit</button>
                    <button (click)="triggerDetail(dataItem)"
                        class="resource-grid-action-btn detail-action-btn">Detail</button>
                    <button (click)="openConfirmDialog(dataItem)"
                        class="resource-grid-action-btn delete-action-btn">Delete</button>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-pdf [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true"
            [fileName]="getPdfName()"></kendo-grid-pdf>

    </kendo-grid>

    <!-- Confirmation Dialog -->
    @if(showConfirmDialog){
    <kendo-dialog (close)="cancelDelete()" class="confirmation-dialog">
        <kendo-dialog-titlebar class="confirmation-dialog-header">
            Confirm Delete
        </kendo-dialog-titlebar>
        <p>Are you sure you want to delete <strong>{{ resourceToDelete?.name }}</strong>?</p>
        <p>This action cannot be undone.</p>
        <kendo-dialog-actions>
            <button kendoButton themeColor="error" (click)="confirmDelete()"
                class="dialog-action-btn delete-btn">Delete</button>
            <button kendoButton (click)="cancelDelete()" class="dialog-action-btn cancel-btn">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    }

    @if (showBulkConfirmationDialog) {
    <kendo-dialog (close)="cancelBulkDelete()" class="confirmation-dialog">
        <kendo-dialog-titlebar>Confirm Bulk Delete</kendo-dialog-titlebar>
        <p>You are about to delete <strong>{{ selectedToDelete.length }}</strong> resources.</p>
        <p>This action cannot be undone.</p>
        <kendo-dialog-actions>
            <button kendoButton themeColor="error" (click)="confirmBulkDeleteAction()"
                class="dialog-action-btn delete-btn">
                Delete
            </button>
            <button kendoButton (click)="cancelBulkDelete()" class="dialog-action-btn cancel-btn">Cancel</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    }
</section>