:root {
  --primary-color: #C562AF;
  --primary-color-dark: #aa4291;
  --danger-color: #FD5D5D;
  --dark-danger-color: #D32F2F;
  --text-color: #333;
  --light-gray-color: #e0e0e0;
  --button-radius: 4px;
  --card-radius: 6px;
  --bg-color-main: #F5F5F5;
  --white-color: #FFF;
  --secondary-color: cornflowerblue;
  --kendo-color-primary: var(--primary-color);
  --kendo-color-primary-hover: var(--primary-color);
  --kendo-color-primary-on-surface: var(--primary-color);
  --kendo-color-primary-active: var(--primary-color-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 400;
  border-radius: var(--button-radius);
  cursor: pointer;
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}


/* Kendo UI Custom Style */
.k-menu-button {
  border: none;
  outline: none;
  padding: 4px 3px;
  font-size: 12px;
}

.materia-icons {
  font-size: 100px;
}

.k-menu-item {
  gap: 4px;
}

.k-menu-link:hover {
  background-color: var(--primary-color);
}

.k-button-text {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  outline: none;
  border: none;
}

.k-menu-popup {
  width: inherit;
}

/* .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(197, 98, 175, 0.4);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
} */

.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.checkbox-accent {
  accent-color: var(--primary-color);
}


.k-input-md .k-input-inner,
.k-picker-md .k-input-inner {
  text-align: end;
}

/* Media Queries */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .btn {
    padding: 8px 6px;
    font-size: 14px;
  } */

  .btn:hover {
    /* transform: scale(1.05); */
    /* box-shadow: 0 6px 14px rgba(197, 98, 175, 0.4); */
    background-color: var(--primary-color-dark);
    /* border-color: var(--primary-color-dark); */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}